body
{
    /* background: #08cfee;  */
    background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* font-family: 'Imperial Script', cursive; */
}
.brand
{
    color:aliceblue;
    background-color: black;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    }

.food
{
    width: 45%;
    background-color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    float: left;
}
.water
{
    width: 45%;
    background-color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    float: left;
}
h6{
    color: white;
    float: center;
}
h5
{
    color: white;
}
.btn-small
{
    color: #5312eb;
    
}
.btn-light:hover
{
    color: white;
    background-color: #5312eb;
}